<div class="container">
  <div class="row bottom-buffer">
    <div class="col-xs-7">
      <label for="daily">Daily Gross Salary ({{currencyCode}})</label>
      <input #dailySalary type="text" id="daily" class="form-control">
    </div>
    <div class="col-xs-5">
      <label for="country">Country</label>
      <select #selectedCountry id="country" class="form-control" (change)="updateCurrencyCode(selectedCountry)">
        <option disabled selected value>Select country</option>
        <option *ngFor="let c of countryCodes">{{c}}</option>
      </select>
    </div>
  </div>

  <div class="row bottom-buffer">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="calculateSalary(dailySalary, selectedCountry)">Calculate</button>
    </div>
  </div>

  <div class="row bottom-buffer">
    <div class="col-xs-12">
      <p>Net month salary: {{salary}} PLN</p>
    </div>
  </div>
  <div *ngIf="checkIfErrorOccured()" class="row">
    <div class="col-xs-12">
      <div class="alert alert-danger">
        <strong>Error!</strong> {{errorMessage}}
      </div>
    </div>
  </div>
</div>
